<div class="contenedor sombra proyectos">

    <div class="mi-seccion">

        <h1>Proyectos</h1><br>
        <section>
            <h2 class="subtitulo">Calculadora de sueldos</h2>
            <div class="carrusel">
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../../assets/img/calcu1.png" class="d-block w-100" alt="calculadora">
                        </div>
                        <div class="carousel-item">
                            <img src="../../assets/img/calcu3.png" class="d-block w-100" alt="calculadora">
                        </div>
                        <div class="carousel-item">
                            <img src="../../assets/img/calcu4.png" class="d-block w-100" alt="calculadora">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <p>Ésta aplicación web ayuda a los trabajadores de OCA LOG S.A. a calcular su sueldo neto
                y bruto con precisión y eficiencia. La aplicación utiliza tecnologías web modernas como HTML5, CSS,
                Bootstrap y JavaScript y está actualizada con las últimas regulaciones fiscales y laborales para
                garantizar la precisión de los cálculos en todo momento. Además, la aplicación cuenta con una interfaz
                intuitiva y fácil de usar, y se han aplicado técnicas de experiencia de usuario para optimizar su
                efectividad.
            </p>
            
        </section>

    </div><!--Sobre mi-->
</div><!--contenedor sombra-->