<div class="miEducacion contenedor sombra">

    <h1 id="educacion" >Educación <br> <br> </h1>


    <section class="mi-seccion" >
    
        <div class="edu">
            <img class="eduLogo" src="../../../assets/img/teclab.png" alt="Teclab">
        </div>
        <h2> Teclab Instituto Técnico superior <br> <span>Tecnicatura superior en Programación</span></h2>
        <ul>
            <li>Desarrollo de software sobre plataformas web en HTML, CSS y Javascript.</li>
            <li>Configurar e implementar bases de datos utilizando SQL y Oracle.</li>
            <li>Programar en dispositivos móviles: JAVA y desarrollos para Android. Software
                development kit (SDK). Android Studio y Android virtual device (AVD)</li>
            <li>Crear apps con Material Design y Responsive Design</li>
        </ul>
    </section>

    <section class="mi-seccion">
        <div class="edu">
            <img class="eduLogo" src="../../../assets/img/arprog.jpg" alt="arg prog">
        </div>

        <h2> Argentina Programa <br> <span>#SéProgramar</span> </h2>
        <ul>
            <li><b>Fundamentos de la programación:</b>
                variables, operadores, estructuras de control de flujo, funciones, etc. Al aprender estos
                conceptos,
                pude entender cómo funcionan los programas y cómo construir los míos. <br> <br></li>
            <li><b>Programación Imperativa: </b>
                Al aprender programación imperativa, con Javascript, comprendí cómo escribir programas que
                modifiquen
                el estado de una
                aplicación y cómo controlar el flujo de un programa. <br><br></li>
            <li><b>Programacióon Orientada a Objetos: </b>
                Utilizando el lenguaje Ruby, aprendí cómo crear y utilizar objetos en los programas y cómo
                diseñar aplicaciones orientadas a objetos.</li>
        </ul>

    </section>


</div>
