#educacion {
    margin-top: 2rem;
    text-align: center;
}



@media (min-width: 768px) {
    .miEducacion section {
        display: grid;
        grid-template-columns: 1fr 2fr;

        margin-right: 5rem;
        column-gap: 5rem;

    }

    .edu {
        grid-row: 1 / 9;
        margin-top: 2rem;
        margin-left: 15rem;
    }

}

.miEducacion section {
    margin-bottom: 3rem;
}


.eduLogo {

    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-bottom: 2rem;

}

.edu {
    display: flex;
    justify-content: center;
}




.miEducacion span {
    font-size: 1.8rem;
    color: var(--primario);
}

ul {
    padding-left: 1.5rem;
}

