<footer class="footer">
    <div class="logo"></div>
    <p>Todos los derechos reservados.©  Fernando Hasperué </p>
    <div class="redes_footer">
        <a class="red" href="https://www.linkedin.com/in/hasperue" target="_blank"> <img src="../../../assets/img/in.png" alt="in"
                width="30" height="30"></a>
        <a class="red" href="https://github.com/Fernskt/portfolio" target="_blank"> <img src="../../../assets/img/fb.png" alt="fb"
                width="30" height="30"></a>
        <a class="red" href="#"> <img src="../../../assets/img/wa.png" alt="wa" width="30" height="30"></a>
        

    </div>
</footer>