@media (min-width: 768px) {
    header {
        height: 5rem;
        margin-bottom: 0.5rem;
        background-image: url(../../../assets/img/arg-programa.png);
        background-repeat: no-repeat;
        background-size: 12rem;
        background-position-y: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

}

@media (min-width: 768px) {
    .logo {
        width: 12rem;

    }

    .red {
        margin-left: 10px;
        margin-right: 10px;
    }
}



@media (max-width: 768px) {
    header {
        height: 10rem;
        background-image: url(../../../assets/img/logo.png);
        background-size: 7rem;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: center;
    }

    .redes {
        display: none;
    }
}
