@media (min-width: 768px) {
    header {
        height: 5rem;
        margin-bottom: 0.5rem;
        background-image: url(../../../assets/img/APLogo.png);
        background-repeat: no-repeat;
        background-size: 12rem;
        background-position-y: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

}

@media (min-width: 768px) {
    .logo {
        width: 12rem;

    }

    .red {
        margin-left: 10px;
        margin-right: 10px;
        filter: invert();
    }
    .responsivo{
        display: none;
    }
}



@media (max-width: 768px) {
    .redes{
        height: 4rem;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }
    .red {
        margin-left: 10px;
        margin-right: 10px;
        filter: invert();
        
    }
    .barraRedes{
        display: none; 
    }
    
    }
.container-fluid{
    height: 3rem;
}
.navbar{
    height: 4rem;
    backdrop-filter: blur(10px);
    background-color: rgba(13, 8, 24, 0.909) !important;
    
}
.offcanvas-title,
.offcanvas-header, 
.offcanvas-body{
    background-color: rgb(13, 8, 24);
    
}

.navbar-dark {
--bs-navbar-toggler-border-color: rgba(255, 255, 255, 0);
}
.responsivo{
    
    height: 4rem;
}