
<header>


    <div class="logo">
    </div>
    <!--<img class="logo" src="img/logo.png" alt="logo"> -->
    <!-- <h1 class="titulo">Fernando Hasperué <br><span>Fullstack Developer</span></h1>-->
    <div class="redes">
        <a class="red" href="https://www.linkedin.com/in/hasperue" target="_blank"> <img src="../../../assets/img/in.png" alt="in"
                width="30" height="30"></a>
        <a class="red" href="https://github.com/Fernskt/portfolio" target="_blank"> <img src="../../../assets/img/fb.png" alt="fb"
                width="30" height="30"></a>
        <a class="red" href="#"> <img src="../../../assets/img/wa.png" alt="wa" width="30" height="30"></a>
        <a class="red" href="#"> <img src="../../../assets/img/login.png" alt="wa" width="30" height="30"></a>

    </div>
    
</header>
