@media (min-width: 768px) {
    header {
        height: 5rem;
        margin-bottom: 0.5rem;
        background-image: url(../../../assets/img/APLogo.png);
        background-repeat: no-repeat;
        background-size: 12rem;
        background-position-y: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

}

@media (min-width: 768px) {
    .logo {
        width: 12rem;

    }

    .red {
        margin-left: 10px;
        margin-right: 10px;
        filter: invert();
    }
}



@media (max-width: 768px) {
    .redes{
        height: 4rem;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }
    .red {
        margin-left: 10px;
        margin-right: 10px;
        filter: invert();
        
    }
    }

    

