/*Skills*/
#skills{
    text-align: center;
}

.skills{
    display: flex;
    justify-content: center;
    
}

.skill{
    margin: 2rem;
    text-align: center;
}

@media (min-width: 768px) {
    .skill{
        margin: 2rem 5rem;
        text-align: center;
    }
}

.progress-circle-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
@media (min-width: 768px) {
    .progress-circle-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
    }
}


.progress-circle {
    position: relative;
    display: inline-block;
    margin: 1rem;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #030303;
}

.progress-circle:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
   
}

.progress-circle.animation{
    -webkit-animation: colorload 2s;
    animation: colorload 2s;
}

.progress-circle span {
    font-size: 1rem;
    color: var(--primario);
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 90px;
    height: 90px;
    line-height: 90px;
    margin-left: -45px;
    margin-top: -45px;
    text-align: center;
    border-radius: 50%;
    background: var(--oscuro);
    z-index: 1;
}

.progress-circle span {
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-circle.progress-65:after { 
    background-image: linear-gradient(-36deg, #62139b 50%, transparent 50%, transparent), linear-gradient(270deg, #62139b 50%, #62139b2d 50%, #62139b2d); 
}
.progress-circle.progress-78:after { 
    background-image: linear-gradient(10.8deg, #62139b 50%, transparent 50%, transparent), linear-gradient(270deg, #62139b 50%, #62139b2d 50%, #62139b2d);
}
.progress-circle.progress-75:after {
    background-image: linear-gradient(0deg, #62139b 50%, transparent 50%, transparent), linear-gradient(270deg, #62139b 50%, #62139b2d 50%, #62139b2d);
}

.progress-circle.progress-70:after {
    background-image: linear-gradient(-18deg, #62139b 50%, transparent 50%, transparent), linear-gradient(270deg, #62139b 50%, #62139b2d 50%, #62139b2d);
}

.progress-circle.progress-35:after {
    background-image: linear-gradient(90deg, #62139b2d 50%, transparent 50%, transparent), linear-gradient(216deg, #62139b 50%, #62139b2d 50%, #62139b2d);
}

.progress-circle.progress-50:after {
    background-image: linear-gradient(-90deg, #62139b 50%, transparent 50%, transparent), linear-gradient(270deg, #62139b 50%, #62139b2d 50%, #62139b2d);
}

/*Animaciones de los circulos*/

@keyframes colorload {
    0% {
        opacity: 0;
        transform: rotate(0deg);
    }

    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}

.skillsimg {
    width: 3rem;
}