
<div class="contenedor sombra">
        
    <div>

        <h1 id="skills">Habilidades</h1>

        <div class="skills">
            <div class="progress-circle-container">

               
                <div class="skill">
                    <h3>HTML5</h3>
                    <div class="progress-circle progress-78"><span><img class="skillsimg" src="../../../assets/img/html.png" alt="js"></span></div>
                </div>
                <div class="skill">
                    <h3>CCS3</h3>
                    <div class="progress-circle progress-75"><span><img class="skillsimg" src="../../../assets/img/css.png" alt="js"></span></div>
                </div>
                <div class="skill">
                    <h3>JAVASCRIPT</h3>
                    <div class="progress-circle progress-65"><span><img class="skillsimg" src="../../../assets/img/js.png" alt="js"></span></div>
                </div>
               
                <div class="skill">
                    <h3>ANGULAR</h3>
                    <div class="progress-circle progress-35"><span><img class="skillsimg" src="../../../assets/img/Angular.png" alt="js"></span></div>
                </div>
                <div class="skill">
                    <h3>JAVA</h3>
                    <div class="progress-circle progress-50"><span><img class="skillsimg" src="../../../assets/img/java.png" alt="js"></span></div>
                </div>
                <div class="skill">
                    <h3>GITHUB</h3>
                    
                    <div class="progress-circle progress-65"><span><img class="skillsimg" src="../../../assets/img/github.png" alt="js"></span></div>
                </div>
                <div class="skill">
                    <h3>GIT</h3>
                    <div class="progress-circle progress-70"><span><img class="skillsimg" src="../../../assets/img/git.jpg" alt="js"></span></div>
                </div>
                <div class="skill">
                    <h3>MySQL</h3>
                    <div class="progress-circle progress-78"><span><img class="skillsimg" src="../../../assets/img/sql.png" alt="js"></span></div>
                </div>
                <div class="skill">
                    <h3>BOOTSTRAP</h3>
                    <div class="progress-circle progress-75"><span><img class="skillsimg" src="../../../assets/img/bootstrap.png" alt="js"></span></div>
                </div>
    
    
            </div>

        </div>
        

    </div><!--Smi-seccion-->
</div><!--contenedor sombra-->
