
<div class="contenedor sombra">
        
    <div>

        <h1 id="skills">Habilidades</h1>

        <div class="skills">
            <div class="progress-circle-container">

                <div class="skill">
                    <h3>Javascript</h3>
                    <div class="progress-circle progress-65"><span>65</span></div>
                </div>
                <div class="skill">
                    <h3>HTML5</h3>
                    <div class="progress-circle progress-78"><span>78</span></div>
                </div>
                <div class="skill">
                    <h3>CCS3</h3>
                    <div class="progress-circle progress-75"><span>75</span></div>
                </div>
                <div class="skill">
                    <h3>GIT</h3>
                    <div class="progress-circle progress-70"><span>70</span></div>
                </div>
                <div class="skill">
                    <h3>ANGULAR</h3>
                    <div class="progress-circle progress-35"><span>35</span></div>
                </div>
                <div class="skill">
                    <h3>MySQL</h3>
                    <div class="progress-circle progress-50"><span>50</span></div>
                </div>
    
    
            </div>

        </div>
        

    </div><!--Smi-seccion-->
</div><!--contenedor sombra-->
