<section>
    <h1 id="contacto">contacto</h1>

    <form class="formulario contenedor sombra mi--seccion">
        <fieldset>
            <legend>Contáctame llenando los campos</legend>
            <div class="contenedor-campo">
                <div class="campo">
                    <label>Nombre</label>
                    <input class="imput-text" type="text" placeholder="Tu Nombre" />
                </div>

                <div class="campo">
                    <label>Teléfono</label>
                    <input class="imput-text" type="tel" placeholder="Tu Teléfono" />
                </div>

                <div class="campo">
                    <label>Correo</label>
                    <input class="imput-text" type="email" placeholder="Tu Correo">
                </div>

                <div class="campo">
                    <label>Mensaje</label>
                    <textarea class="imput-text"></textarea>
                </div>
            </div> <!-- .contenedor-campos-->

            <div class="enviar">
                <input class="boton" type="submit" value="Enviar">
            </div>



        </fieldset>
    </form>
</section>