

<div class="contenedor sombra">

    <div class="sobremi mi-seccion">

        <h1 id="sobremi ">Sobre mí</h1>

        <div class="foto">
            <img class="img" src="../../../assets/img/foto.png" alt="Foto">
        </div>
       
        <section>
            <p>
            <p>Soy Fernando Hasperue, tengo 35 años y estudio Desarrollo Web Full Stack en
                Argentina
                Programa. <br> Me apasiona la programación y siempre estoy interesado en aprender nuevas
                habilidades y tecnologías. <br>

                Actualmente estoy creando proyectos con JavaScript y Typescript usando frameworks como Angular.
                Poseo conocimientos en
                HTML, CSS y preprocesadores como Sass y Gulp. <br> Me interesa trabajar con metodologías ágiles
                como
                Scrum. Uso Git y
                Github para compartir mi trabajo con otros desarrolladores, me encanta colaborar con ellos, y
                seguir
                compartiendo y aprendiendo cosas nuevas para estar al día con la tecnología y los avances en el
                desarrollo web. <br>

                Además de programación, también tengo habilidades blandas como trabajo en equipo, comunicación y
                habilidades de
                liderazgo. Estas habilidades me han ayudado a llevar mis proyectos de desarrollo web a un nivel
                superior. <br>

                También me gusta viajar y conocer nuevos lugares, pasar tiempo con mis amigos y familiares. <br>
                <br>

                Estoy muy comprometido con el aprendizaje continuo y siempre me esfuerzo por mejorar mis
                habilidades
                y
                conocimientos, así como trabajar en equipo para lograr los objetivos comunes, aplicando un
                enfoque
                en la
                calidad.
            </p>
        </section>

    </div><!--Sobre mi-->
</div><!--contenedor sombra-->